@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

:root {
    --off-white: #EEEEEE;
    --light-brown: #E1D4BB;
    --dark-brown: #83764F;
    --back: #537188;
}

body {
    background-color: var(--back);
    margin: 0px;
    font-family: 'Patrick Hand', 'cursive';
}

#header {
    color: var(--off-white);
    /* background-color: var(--dark-brown); */
    /* box-shadow: 0px 5px 13px rgba(0,5,13, .9); */
    margin-bottom: 20px;
    border-radius: 30px;
    padding: 10px 0px;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 200;
    

}

#all-content {
    height: 90vh;
    background-color:var(--back);
    margin: 0px;
}

#main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#grid-container {
    font-size: 1.5rem;
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: var(--light-brown);
    border: 5px solid var(--dark-brown);
    border-radius: 30px;
    box-shadow: 3px 5px 3px rgba(0,5,13,0.9);
    padding: 40px;
    aspect-ratio: 1;
    height: 70%;
    font-weight: 900;
}

.square {
    padding : 20px;
    width: 40px;
    height: 40px;
    text-align: center;
    border: 2px solid var(--back);
    cursor: pointer;
}
.square:hover {
    background-color:#d2bb80 ;
}

#header-board-wrapper {
    /* background-color: #264653; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.btn {
    color: var(--light-brown);
    background-color: var(--dark-brown);
    height: 32px;
    width: 90px;
    border-radius: 20px;
    font-size: 1.2rem;
    margin-top: 20px;
    cursor: pointer;
}
.btn:hover {
    background-color:#5e5438;
}